body{ margin: 0;}
#Wrapper {
	margin-left: 10%;
	margin-right: 10%;
	height:400px;
	background-color: #ffffff;
   }
 
#Layer1 {
	background-image:url(Image3.jpg);
	width:110px;
	height: 171px;
	position:relative;
	z-index:1;
}